.itemdetail-container{
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 5rem;
}

.itemdetail-img{
    margin: 0 50% 0 50%;
}

.basic-btn{
    background-color: #2d3f01;
    color: antiquewhite;
    text-align: center;
    padding: 0.4rem 1.8rem;
    margin: 0.8rem 0.5rem;
    border: 0;
    border-radius:0.5rem;
    font-size:1.2rem;
    font-weight: 500;
}

.basic-btn-disabled{
    background-color: #2d3f0180;
    color: #2d3f01;
}

.input-quantity{
    width: 50%;
    padding: 0.4rem;
    border: 3px solid #2d3f0111;
    border-radius: 5px;
}

@media only screen and (max-width:660px) {
    .itemdetail-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 2rem;
    }
    .itemdetail-img{
        margin: 0;
    }
}
@media only screen and (min-width:661px) and (max-width:981px) {
    .itemdetail-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 2rem;
    }
    .itemdetail-img{
        margin: 0;
    }
}