.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin: 3rem 5rem;
}

.banner-text{
    padding: 5rem auto 1rem;
    margin: 6rem 0;
    color: #1A3C40;
}

.banner-title{
    font-weight: 800;
    padding: 1.5rem 0 2.5rem;
}

.inventory-btn{
    color: antiquewhite;
    background-color: #2d3f01;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    padding: 0.4rem 1.5rem;
    font-weight: 500;
}

.banner-img{
    padding: 0.2rem 2rem;
}

/* ======================== banner section done =============*/

.title{
    text-align: center;
    color: #1A3C40;
    font-size: 2rem;
    font-weight: 700;
}

.item-d{
    padding: 1.5rem;
}

.title-basic{
    color: #1A3C40;
    font-size: 1.5rem;
    font-weight: 600;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 2rem 5rem;
}

.item-body{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5rem;
}

.item-img{
    width: 90%;
    height: 450px;
    padding: 0.3rem;
}

.stock{
    color: #07d333;
    /* padding-left: 1rem; */
    font-size: 0.8rem;
}

.details>li{
    padding-left: 0.8rem;
}

.update-btn{
    background-color: #2d3f01;
    color: antiquewhite;
    text-align: center;
    padding: 0.4rem 0;
    border: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    font-size:1.2rem;
    font-weight: 500;
}

@media only screen and (max-width:660px) {
    .banner-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        gap:0;
        width: 100%;
        padding: 1rem 0.8rem;
    }
    .banner-text{
        padding: 0;
    }
    .banner-img{
        width: 100%;
        aspect-ratio: 1;
        padding: 0;
    }

    .service-container{
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }
}

.mange-btn{
    margin: 2rem auto;
    width: 100%;
    margin: 2rem 40%;
}
@media only screen and (min-width:660px) and (max-width:998px) {
    .banner-container{
        grid-template-columns: 1fr 1fr;
        margin: 0;
        gap:0;
        width: 100%;
        padding: 0;
    }
    .banner-img{
        width: 100%;
    }
    .service-container{
        grid-template-columns: repeat(2,1fr);
    }
}